.NavBody {
    position: sticky;
    top: 0;
    left: 0;
    height: auto;
    background-color: rgba(255, 249, 162, 1);
    z-index: 9;
}

.NavContainer{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: auto;
}

.NavBorderBottom{
    min-height: 2px;
    width: 90%;
    margin-left: 5%;
    background-color: black;
}

.menuButton{
    padding: 1rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease;
    cursor: pointer;
}

.menuButton:hover{
    color: gray;
}

.selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
}