
@font-face {
    font-family: 'Varela Round';
    src: url('./fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Varela Round", serif;
    overflow-x: clip;
}

.LogoSmall{
    height: 4rem;
    width: 4rem;
    background-image: url(./images/ballcapLogoSmall.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1rem;
}

.App {
    background-color: #FFF9A2;
    margin: 0;
    padding: 0;
}


h1{
    width: fit-content;
}

.divider_black{
    width: 90%;
    margin-left: 5%;
    background-color: black;
    border-radius: 5px;
    height: 2px;
}